@font-face {
    font-family: figtree_italic;
    src: url(assets/fonts/Figtree-Italic-VariableFont_wght.ttf);
}

@font-face {
    font-family: figtree_variable;
    src: url(assets/fonts/Figtree-VariableFont_wght.ttf);
}

@font-face {
    font-family: figtree_extrabold;
    src: url(assets/fonts/static/Figtree-ExtraBold.ttf);
}

@font-face {
    font-family: figtree_semibold;
    src: url(assets/fonts/static/Figtree-SemiBold.ttf);
}

*{
    margin: 0;
    line-height: 1.5;
    background-color: var(--color-white);
    font-family: figtree_variable;
}

html{
    scroll-behavior: smooth;
    font-size: 62.5%;
}

.main_tag{
    width: 100%;
    background-color: hsl(47, 88%, 63%);
    display: flex;
    justify-content: center;
}

.container{
    background-color: hsl(0, 0%, 100%);
    border: 1px solid hsl(0, 0%, 7%);
    border-radius: 2rem;
    box-shadow: 10px 10px;
    width: 80%;
    margin: 20% auto;
    padding: 1.5rem;
    font-size: 1.5rem;
}

.main_img{
    width: 100%;
    border-radius: 1rem;
    margin-bottom: 1rem;
}

button{
    background-color: hsl(47, 88%, 63%);
    color: hsl(0, 0%, 7%);
    font-weight: 800;
    padding: 0.5rem 1rem;
    border-radius: 5px;
    border: none;
}

.pub{
    margin: 2rem auto;
    font-family: figtree_italic;
}

.main_body{
    width: 100%;
}

h1{
    margin-bottom: 2rem;
    font-family: figtree_extrabold;
}

h1:hover{
    color: hsl(47, 88%, 63%);
    cursor: pointer;
    transition: 0.5s;
}

body:has(h1:hover) .container{
    box-shadow: 20px 20px;
    transition: 0.5s;
}

.subtitle{
    color: hsl(0, 0%, 50%);
}

.dis_flex{
    display: flex;
    margin: 2rem auto;
    font-family: figtree_extrabold;
}

.dis_flex img{
    width: 5rem;
    padding-right: 1rem;
}

/* xs */
@media (min-width: 475px) {
    .main_tag{
        max-width: 475;
    }

    .container{
        font-size: 2rem;
    }
    
    button{
        padding: 1.25rem 1.5rem;
        border-radius: 5px;
    }
    
    .dis_flex{
        display: flex;
        margin: 2rem auto;
        font-weight: 800;
    }
    
    .dis_flex img{
        width: 5rem;
        padding-right: 1rem;
    }
}

/* s */
@media (min-width: 640px) {
    .main_tag{
        max-width: 640;
    }

    .container{
        width: 60%;
    }
}

/* m */
@media (min-width: 768px) {
    .main_tag{
        max-width: 768;
    }
    
    .container{
        width: 50%;
    }
}

/* l */
@media (min-width: 1024px) {
    .main_tag{
        max-width: 1024;
    }
    
    .container{
        width: 40%;
    }
}
/* xl */
@media (min-width: 1280px) {
    .main_tag{
        max-width: 1280;
    }
    
    .container{
        width: 30%;
    }
}

/* xxl */
@media (min-width: 1536px) {}
